{
  "plugins": ["prettier-plugin-svelte"],
  "svelteSortOrder" : "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": true,
  "printWidth": 80,
  "proseWrap": "always",
  "singleQuote": true,
  "trailingComma": "es5"
}
