{
  "svelteSortOrder" : "styles-scripts-markup",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "printWidth": 80,
  "proseWrap": "always",
  "singleQuote": true,
  "trailingComma": "es5"
}
